/Blink_code
/buzzer.png
/data.json
/esp32.jpg
/GBU logo.png
/GPS Module.png
/Heartbeat sensor.png
/igni.jpg
/igni.png
/Impact_Igniters
/led.png
/Life Tag.png
/Life TAg.pptx
/Screenshot_2025-04-06_112443-removebg-preview.png
/sketch_apr10a
/solar.png
/Tachfest_Brochure-CSrWiegk.png
/Temprature sensor.png
/web.png